{% extends 'partials/variables.html.twig' %}

{% set contents = page.header.hero %}

{% block render_block %}

	<section class="hero-section" id="hero-section">

		<div class="hero-wrapper">

			<div class="text-contents">

				{% if contents.title != null %}
					<h1 class="hero-title">{{ contents.title.translatable|raw }}</h1>
				{% endif %}

				{% if contents.text != null %}
					<p>{{ contents.text.translatable|raw }}</p>
				{% endif %}

				{% if contents.hero_btn_text != null %}
					<a href="#" class="hero-btn">
						<span>{{ contents.hero_btn_text.translatable }}</span>

						<svg xmlns="http://www.w3.org/2000/svg" width="49" height="50" viewBox="0 0 49 50" fill="none">
							<circle cx="24.35" cy="25" r="24.15" transform="rotate(-180 24.35 25)" fill="white"/>
							<path d="M31.7341 18.0983C31.7341 17.6981 31.4097 17.3737 31.0096 17.3737L24.4889 17.3737C24.0888 17.3737 23.7644 17.6981 23.7644 18.0983C23.7644 18.4984 24.0888 18.8228 24.4889 18.8228L30.2851 18.8228L30.2851 24.6189C30.2851 25.0191 30.6094 25.3435 31.0096 25.3434C31.4097 25.3435 31.7341 25.0191 31.7341 24.6189L31.7341 18.0983ZM18.2021 31.9303L31.5219 18.6106L30.4973 17.586L17.1775 30.9057L18.2021 31.9303Z" fill="black"/>
						</svg>
					</a>
				{% endif %}

			</div>

			<div class="image-contents">
				<img class="hero-img-for-desktop" src="{{ page.media[contents.image].url }}" alt="Hero Image" />
				<img class="hero-img-for-mobile" src="{{ page.media[contents.image_for_mobile].url }}" alt="Hero Image" />
			</div>


		</div>			
		

	</section>
	
{% endblock %}