{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set mv = page.header.about_mission_vission %}
{% set statistics = page.header.about_company_statistics %}
{% set image = page.media[module.image] %}

{% block render_block %}
	<div class="mission-vission-wrapper slide-up">

		<div class="container">
            <div class="mission-vission">
                {% for item in mv %}
                    <div class="mv_content">
                        <h4 class="title">
                            {{ item.title.translatable|raw }}
                        </h4>
                        <p class="description">
                            {{ item.brief.translatable|raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>

            <div class="img_stats">
                <div class="image">
                    <img class="main-img" src="{{ image.url }}" alt="Mission Vission Image"/>
                </div>

                 <div class="stats">
                    {% for item in statistics %}
                        <div class="stats_content">
                            <h4 class="count">
                                {{ item.count.translatable|raw }}
                            </h4>
                            <p class="details">
                                {{ item.brief.translatable|raw }}
                            </p>
                        </div>
                    {% endfor %}
            
                </div>
            
            </div>

		</div>

	</div>
{% endblock %}
